<div class="overlay overlay-hidden"></div>
<div class="display-wrapper">
  <div class="display-container">

    <div class="text-container">
    <%= render 'shared/text_container2' %>


    <div class='result-container result-hidden yomogi-regular'>
      <span class="star-word"><%= @selected_star.word %></span>
      <span class="star-name">〜<%= @selected_star.name %>〜</span>
    </div>

    </div>
  </div>
</div>

<%= render 'shared/next_button' %>


<div class="star">
  <%= render 'shared/star_background' %>
</div>

<div class="loading-hidden">
<%= render "shared/loading" %>
</div>

<div class="spotify-hidden">
<%= render 'shared/spotify' %>
</div>

<div class="return-button-hidden">
<%= render 'shared/return_button' %>
</div>

<%= render 'shared/menu_icon' %>

<%= render 'shared/shooting_star' %>

<%= render 'shared/svg_text' %>


<%# このページが読み込まれた際に発火させるjsはindex.jsに記載 %>