<div id="form", class="form-hidden">
  <%= form_with url: '#', class: 'yomogi-regular form-container' do |f| %>
    <%= f.text_area :word, placeholder: '好きな言葉を教えてね', class: 'input-field' %>
    <%= f.text_field :name, placeholder: '誰の名言かな？', class: 'input-field' %>
    <%= f.submit '登録', class: 'submit' %>
  <% end %>
</div>


<div class="page">
  <div class="container">
    <div class="left">
      <div class="login lato">phrase</div>
      <div class="eula yomogi-regular">
      好きな言葉を教えてね。<br>
      ・誰かの名言<br>
      ・ことわざ<br>
      ・あなたの言葉<br>
      なんでも大丈夫ですよ♪
      </div>
    </div>

    <div class="right">
      <div id="form" class="form-visible">
        <%= form_with url: '#', class: 'form-container' do |f| %>
          <%= f.text_area :word, placeholder: 'word', class: 'input-field' %>
          <%= f.text_field :name, placeholder: 'Who said that?', class: 'input-field' %>
          <%= f.submit '登録', class: 'submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="star">
  <%= render 'shared/star_background' %>
</div>